<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <!-- URL Rewrite Rules -->
        <rewrite>
            <rules>
                <!-- Redirect all requests to index.php except for actual files and directories -->
                <rule name="Main Rule" stopProcessing="true">
                    <match url=".*" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="index.php" />
                </rule>
                
                <!-- Block access to sensitive directories -->
                <rule name="Block App Directory" stopProcessing="true">
                    <match url="^app/.*" />
                    <action type="CustomResponse" statusCode="403" statusReason="Forbidden" />
                </rule>
                
                <rule name="Block Config Directory" stopProcessing="true">
                    <match url="^config/.*" />
                    <action type="CustomResponse" statusCode="403" statusReason="Forbidden" />
                </rule>
                
                <rule name="Block Database Directory" stopProcessing="true">
                    <match url="^database/.*" />
                    <action type="CustomResponse" statusCode="403" statusReason="Forbidden" />
                </rule>
            </rules>
        </rewrite>
        
        <!-- Directory Browsing -->
        <directoryBrowse enabled="false" />
        
        <!-- Default Documents -->
        <defaultDocument>
            <files>
                <clear />
                <add value="index.php" />
                <add value="index.html" />
            </files>
        </defaultDocument>
        
        <!-- Static Content -->
        <staticContent>
            <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="30.00:00:00" />
            <remove fileExtension=".woff" />
            <remove fileExtension=".woff2" />
            <mimeMap fileExtension=".woff" mimeType="application/font-woff" />
            <mimeMap fileExtension=".woff2" mimeType="application/font-woff2" />
        </staticContent>
        
        <!-- Compression -->
        <urlCompression doStaticCompression="true" doDynamicCompression="true" />
        
        <!-- Security Headers -->
        <httpProtocol>
            <customHeaders>
                <add name="X-Frame-Options" value="SAMEORIGIN" />
                <add name="X-Content-Type-Options" value="nosniff" />
                <add name="X-XSS-Protection" value="1; mode=block" />
            </customHeaders>
        </httpProtocol>
        
        <!-- PHP Settings (if using IIS with PHP) -->
        <handlers>
            <remove name="PHP_via_FastCGI" />
            <add name="PHP_via_FastCGI" path="*.php" verb="*" modules="FastCgiModule" 
                 scriptProcessor="C:\Program Files\PHP\php-cgi.exe" 
                 resourceType="Either" requireAccess="Script" />
        </handlers>
        
        <!-- Request Filtering -->
        <security>
            <requestFiltering>
                <!-- Hidden Segments -->
                <hiddenSegments>
                    <add segment="app" />
                    <add segment="config" />
                    <add segment="database" />
                </hiddenSegments>
                
                <!-- File Extensions -->
                <fileExtensions>
                    <add fileExtension=".sql" allowed="false" />
                    <add fileExtension=".db" allowed="false" />
                    <add fileExtension=".sqlite" allowed="false" />
                    <add fileExtension=".log" allowed="false" />
                </fileExtensions>
                
                <!-- Request Limits -->
                <requestLimits maxAllowedContentLength="52428800" /> <!-- 50MB -->
            </requestFiltering>
        </security>
    </system.webServer>
    
    <!-- PHP Configuration (if needed) -->
    <system.web>
        <compilation tempDirectory="~/temp/" />
        <httpRuntime maxRequestLength="51200" executionTimeout="300" />
    </system.web>
</configuration>